.todoagregaritems{
    position: fixed;
    top: 75px;
    left: 20px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    z-index: 3;
    .agregaritems{
        position: relative;
        width: 350px;
        height: 300px;
        background-color: #ffffff;
        border-radius: 0.625rem;
        display: flex;
        flex-direction: column;
        border-style: solid;
        border-color: #CFCFCF;
        .cerrar{
            position: absolute;
            top: 20px;
            right: 20px;
            background-color: #ffffff;
            border-style: none;
            outline: none;
            border-radius: 0.625rem;
        }
        .anadiritem{
            display: flex;
            flex-direction: column;
            .titulo{
                margin-right: 140px;
            }
            .anadirii{
                display: flex;
                flex-direction: column;
                .nombre{
                    margin-right:165px;
                }
                .escribiitem{
                    width: 300px;
                    margin-left: 25px;
                    height: 30px;
                    font-family: 'Inter', sans-serif;
                    border-radius: 0.625rem;
                    outline: none;
                    border-color: #CFCFCF;
                    border-style: solid;
                }
            }
            .tipoycant{
                display: flex;
                flex-direction: row;
                .tipoitem{
                    display: flex;
                    flex-direction: column;
                    
                }
                .cantitem{
                    display: flex;
                    flex-direction: column;
                    .cantt{
                        margin-top: 20px;
                        margin-left: 110px;
                    }
                    .cant{
                        height: 20px;
                        width: 120px;
                        
                        margin-top: 5px;
                        margin-left: 110px;
                    }
                }
            }
        }
        .anadir{
            width: 100px;
            height: 30px;
            background-color: #78C6FF;
            color:#ffffff;
            border-radius: 0.625rem;
            border-style: none;
            outline: none;
            padding: 7px;
            padding-left: 10px;
            margin-top: 60px;
            margin-left: 230px;
        }
    }
}