.peventos{
    .todo{
        display: flex;
        height: 100vh;
        padding-left: 260px;
        .menu{
            display: flex;
            flex-direction: column;
            width: 260px;
            margin-top: 50px;
            height: calc(100vh - 50px);
            background-color: #FFFFFF;
            box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1);
            position: fixed;
            left: 0px;
            top: 0px;
            button {
                cursor: pointer;
            }
            .botones1{
                position: sticky;
                top: 0;
                display: flex;
                align-items: center;
                flex-direction: column;                
                .crear{
                    margin-top: 20px;
                    outline: none;
                    background-color: #78C6FF;
                    border-style: none;
                    border-radius: 0.625rem;
                    width: 75%;
                    height: 33px;
                    color: #FFFFFF;
                    font-family: 'Inter', sans-serif;
                    font-weight: 600;
                    margin-bottom: 10px;
                    
                }   
                .volverme{
                    background-color: #FFFFFF;
                    border-style: solid;
                    border-radius: 0.625rem;
                    width: 75%;
                    height: 33px;
                    border-width: 1px;
                    font-family: 'Inter', sans-serif;
                    font-weight: 300;
                    border-color: #717171;
                    margin-bottom: 10px;
                }
            }
            .botones2{
            align-items: left;
            display: flex;
            flex-direction: column; 
            .miseventos,.compartidos{
                width: 230px;
                height: 35px;
                margin-bottom: 5px;
                border-radius:  0rem 0.625rem 0.625rem 0rem;
                border-style: none;
                background-color: #FFFFFF;
                display: flex;
                align-items: center;
                &:hover{
                    background-color: #D7E7FF;
                }
                font-family: 'Inter', sans-serif;
                font-weight: 300;
            }
            .miseventos{
                .cajita{
                    vertical-align: middle;
                    margin-right: 5px;
                    margin-left: 25px;
                }
            }
            .compartidos{
                .personas{
                    vertical-align: middle;
                    margin-right: 5px;
                    margin-left: 25px;
                }
            }
            }
        }
        .eventos{
            height: 100%;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            background-image: url("Rectangulo2.png");
            padding: 0%;
            .no{
                justify-content: center;
                font-family: 'Inter', sans-serif;
                text-align: center;
                .nohay,.momento{
                    color: #626262;
                }
                .nohay{
                    margin-top: 50px;
                    font-weight: 500;
                }
                .momento{
                    margin-bottom: 0px;
                    font-weight: 500;
                }
                .lamparita{
                    margin-top: 0px;
                    margin-bottom: -20px;
                }
            }
            .hay{
                margin: 50px;
                width: 900px;
                height: 156.5px;
                background-color: #FFFFFF;
                border-radius:30px;
                display: flex;
                align-items: center;
                .imagenevento{
                    align-items: center;
                }
                .textos{
                    width: 100%;
                    height: 100%;
                    font-family: 'Inter', sans-serif;
                    .teyf{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        height: 40px;
                        .tipoevento{
                            margin-left: 20px;
                            margin-top: 15px;
                            margin-bottom: 0px;
                        }
                        .fecha{
                            margin-right: 55px;
                            margin-top: 15px;
                            margin-bottom: 0px;
                            color:#757575;
                            font-weight: 200;
                        }
                    }
                    .tituloydesc{
                        display: flex;
                        flex-direction: column;
                        .titulo{
                            margin-top: 0px;
                            margin-left: 20px;
                            margin-bottom: 10px;
                        }
                        .desc{
                            margin-top: 0px;
                            margin-left: 20px;
                            margin-bottom: 0px;
                        }
                    }
                    .usyfav{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        .us{
                            margin-bottom: 10px;
                            margin-top: 25px;
                            margin-right: 420px;
                            color: #757575;
                            font-weight: 600;
                        }
                        .pj{
                            margin-left: 15px;
                            margin-right: 5px;
                            width: 25px;
                            margin-top: 20px;
                            margin-bottom: 10px;
                        }
                        .fav{
                            margin-bottom: 10px;
                            margin-top: 15px;
                            margin-right: 45px;
                            height: 30px;
                            width: 100px;
                            background-color: #FFFFFF;
                            border-radius: 0.625rem;
                            border-width: 1px;
                            font-family: 'Inter', sans-serif;
                        }
                        
                    }
                }
            }
        }   
    }
}