.peventos{
    .todo{
        display: flex;
        .menu{
            display: flex;
            flex-direction: column;
            width: 20%;
            height: calc(100vh - 50px);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0);
            background-color: #FFFFFF;
            align-items: center;
            margin-top: 20px;
            .crear{
                outline: none;
                background-color: #78C6FF;
                border-style: none;
                border-radius: 0.625rem;
                width: 75%;
                height: 33px;
                color: #FFFFFF;
                font-family: 'Inter', sans-serif;
                font-weight: 600;
                margin-bottom: 10px;
            }   
            .volverme{
                background-color: #FFFFFF;
                border-style: solid;
                border-radius: 0.625rem;
                width: 75%;
                height: 33px;
                border-width: 1px;
                font-family: 'Inter', sans-serif;
                font-weight: 300;
                border-color: #717171;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                margin-bottom: 10px;
            }
            .miseventos{
    
            }
            .compartidos{
    
            }
            .favoritos{
    
            }
            .basura{
                
            }
        }
        .eventos{
            height: 100%;
            width: 80%;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
        }
    }
}