.todoestado{
    width: 100%;
    height: 100vh;
    display: flex;
   text-align: center;
    
    font-family: 'Inter', sans-serif;
    z-index: 3;
    position: absolute;
    .cerrar{
        height: 20px;
        width: 10px;   
        background-color: transparent;
        border: none; 
        position: relative;
        top: -165px;
        left: 1270px;
        z-index: 3;
        .cruz{

        }
    }
    .estado{
        background-color: #ffffff;
        border-radius: 0.625rem;
        border-color: #5F5F5F;
        border-style: solid;
        width: 110px;
        height: 130px;
        display: flex;
        flex-direction: column;
        
        right: 70px;
        top: -170px;
        position: absolute;
        border-width: 1px;
        .disponible{
            background-color: #ffffff;
            border: none;
            margin-bottom: 5px;
            margin-top: 25px;
            border-radius: 0.625rem;
            width: 100px;
            height: 30px;
            font-size: 15px;
            padding-right: 0px;

            .circuloverde{
                vertical-align: middle;
                margin-bottom: 3px;
            }
        }
        .pendiente{
            background-color: transparent;
            border: none;
            margin-bottom: 5px;
            margin-left: 2px;
            margin-top: 3px;
            width: 100px;
            height: 15px;
            font-size: 15px;

            .circuloamarillo{
                vertical-align: middle;
                margin-bottom: 3px;
            }
        }
        .noconfirmados{
            background-color: transparent;
            border: none;
            margin-right: 50px;
            border-radius: 0.625rem; 
            width: 100px;  
            height: 30px;
            font-size: 15px;
            padding-left: 0px;
            margin-right: 8px;
            margin-top: 5px;

            .circulorojo{
                vertical-align: middle;
                margin-right: 2px;
            }
        }
    }
}