.Home{
    width: 100%;
    height: 100%;
    .contenidohome{
        width: 100%;
        height: 100%;
        .azul{
            height: 570px;
            width: 100%;
            background: rgb(40,52,130);
            background: linear-gradient(90deg, rgba(40,52,130,1) 4%, rgba(0,9,255,1) 49%, rgba(32,56,149,1) 83%);
            display: flex;
            flex-direction: column;

            
            .textos{
                display: flex;
                flex-direction: column;
                align-items: center;
                .planificar,.brindar{
                    text-align: center;
                    justify-content: center;
                    color:white;
                    font-family:'Inter', sans-serif;
                    
                }
                .planificar{
                    margin-top: 0rem;
                    padding-top: 5rem;
                    font-weight: 600;
                    width: 550px;
                    margin-bottom: 0rem;
                    
                }
                .brindar{
                    font-weight: 200;
                    width: 550px;
                    
                }
                .crear{
                    
                    justify-content: center;
                    align-items: center;
                    width: 150px;
                    height: 30px;
                    border-radius: 0.625rem;
                    border-style: none;
                    outline: none;
                    color: white;
                    background-color: #7A82D9;
                    

                }
                
            }
        }
        .gris{
            height: 2000px;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            background: #F2F4F7;
            .imagenes{
                display: flex;
                justify-content: center;
                .blancoideas{
                    position: absolute;
                    margin-top: -100px;
                    width: 80%;
                    
                }
                .Compu{
                    z-index: 1;
                    position: absolute;
                    margin-top: -310px;
                    height: 500px;
                }
            }
            .cuadrados{
                .lineas{
                    width: 80%;
                    padding-left: 10%;
                    padding-right: 10%;
                }
                
            }
        }

    }
}