
body{
    margin: 0;
   
}

.registrate{
    min-height: 100vh;
    min-width: 100%;
    overflow-x: hidden;
    padding: 0%;
        .imagen{
            display: flex;
            justify-content: left;
            margin-left: 2rem;
            margin-top: 1rem;
            height: 2.3rem;
        }
    .contenido-registro{

        height: 60vh;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2rem;
        
        .ladoizq,.ladoder{
            
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .ladoder{
            display: flex;
            justify-content: center;
            .Foto{
                display: flex;
                justify-content: left;
                width: 100%;
            }
        }
        .ladoizq{
            margin-top: 5rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            margin-left: 10rem;
            margin-right: 5rem;

            .login{
                font-family:'Inter', sans-serif;
                margin-right: 3rem;
                margin-bottom: 0rem;
                height: 3rem;
                font-size: 1.75rem;
                margin-top: 5rem;
            }
            .ingrese{
                font-family:'Inter', sans-serif;
                margin-right: 3.3rem;
                margin-top: 0rem;
                margin-bottom: 1.5rem;
                font-size: 1rem;
            }
            input{
                font-size: 1rem;
                display: block;
                border-color: gray;
                height: 50px;
                width: 429px;
                border-radius: 0.625rem;
                margin-bottom: 1.5rem;
                border-style:solid;
                &:focus{
                    border-color: gray;  
                    border-style:solid;
                }

               /* .ojo{
                      <i className='ojo'>{eye}</i>
                
                }*/

            }

           
            label{
                display: block;
                margin: auto;
                float: left;
                width: 20%;
                font-size: larger;
                font-family:'Inter', sans-serif;
                font-size: 1rem;
            }
            #ingreso{
                width: 429px;
                height: 50px;
                margin-left: 0.3rem;
                margin-top: 0.75rem;
                background: #2A81C0;
                cursor: pointer;
                border-radius: 0.625rem;
                border: none;
                color: white;
                font-size: medium;
                &:hover{
                    background-color: #2f7699;
                }
            }
            #google{
                justify-content: center;
                align-items: center;
                margin-left: 0.3rem;
                display: flex;
                flex-direction: column;
                margin-top: 2rem;
                width: 429px;
                height: 50px;
                cursor: pointer;
                background:white;
                border-radius: 0.625rem;
                border: 1px solid #949449;
                font-size: medium;

            }
            
            .footer{
                #Registrolink{
                    justify-content: center;
                    align-items: center;
                    margin-left: 1rem;
                    font-family:'Inter', sans-serif;
                    font-size: small;
                    margin-top: 1rem;
                }
            }

        }
    }
}