.contacto .contenidocontacto {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto .contenidocontacto .ladoder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  width: 100%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: center;
  margin-right: 0rem;
  margin-top: 2rem;
  background-image: url("Rectangulo.png");
}

.contacto .contenidocontacto .ladoder .dispocision, .contacto .contenidocontacto .ladoder .duda {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 2rem;
}

.contacto .contenidocontacto .ladoder .dispocision {
  margin-bottom: 0rem;
}

.contacto .contenidocontacto .ladoder .duda {
  margin-top: 1rem;
  height: 5rem;
  width: 22rem;
}

.contacto .contenidocontacto .ladoizq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin-left: 3%;
}

.contacto .contenidocontacto .ladoizq .textos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacto .contenidocontacto .ladoizq .textos .contactate, .contacto .contenidocontacto .ladoizq .textos .preguntas {
  font-family: 'Inter', sans-serif;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacto .contenidocontacto .ladoizq .textos .contactate {
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.contacto .contenidocontacto .ladoizq .textos .preguntas {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.contacto .contenidocontacto .ladoizq .labels1y2 {
  /*#l1,#l2{
                    display: flex;
                    flex-direction: row;
                    font-family:'Inter', sans-serif;
                }*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'Inter', sans-serif;
  width: 100%;
}

.contacto .contenidocontacto .ladoizq .labels1y2 #l1 {
  width: 40%;
}

.contacto .contenidocontacto .ladoizq .labels1y2 #l2 {
  width: 60%;
}

.contacto .contenidocontacto .ladoizq .nya {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacto .contenidocontacto .ladoizq .nya #nombre, .contacto .contenidocontacto .ladoizq .nya #apellido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.5rem;
  height: 1.5rem;
  font-size: small;
  border-radius: 0.625rem;
  border-style: solid;
  outline: none;
  font-family: 'Inter', sans-serif;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  border-color: #949499;
}

.contacto .contenidocontacto .ladoizq .nya #nombre {
  margin-right: 3rem;
}

.contacto .contenidocontacto .ladoizq .em {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacto .contenidocontacto .ladoizq .em #l3, .contacto .contenidocontacto .ladoizq .em #l4 {
  margin-top: 2rem;
  font-family: 'Inter', sans-serif;
}

.contacto .contenidocontacto .ladoizq .em #email1, .contacto .contenidocontacto .ladoizq .em #msj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.625rem;
  font-family: 'Inter', sans-serif;
  border-color: #949499;
}

.contacto .contenidocontacto .ladoizq .em #email1 {
  width: 27rem;
  border-style: solid;
  outline: none;
  padding-top: 0.8rem;
  padding-bottom: 1rem;
  padding-left: 0.4rem;
  height: 1rem;
}

.contacto .contenidocontacto .ladoizq .em #msj {
  width: 27rem;
  border-style: solid;
  outline: none;
  padding-top: 0.7rem;
  padding-bottom: 5rem;
  padding-left: 0.4rem;
}

.contacto .contenidocontacto .ladoizq .em .enviar {
  margin-top: 3rem;
  width: 28rem;
  height: 3rem;
  border-radius: 0.625rem;
  outline: none;
  border-style: none;
  font-family: 'Inter', sans-serif;
  color: white;
  background-color: #7a82d9;
}
/*# sourceMappingURL=contacto.css.map */