

.Logueo{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .contenido-login{
        display: flex;

        .ladoizq{
            display: flex;
            flex-direction: column;
            font-family: 'Inter', sans-serif;
            align-items: center;
            margin-left: 50px;
            .imagen{
                width: 120px;
                height: 40px;
                margin-top: 10px;
                margin-right: 300px;
            }
            .login{
                margin-top: 100px;
                font-weight: 1600;
                margin-bottom: 10px;
            }
            .ingrese{
                margin-top: 0px;
                font-weight: 400;
            }
            .labelsyinputslogin{
                display: flex;
                flex-direction: column;
                .emaill{
                    display: flex;
                    flex-direction: column;
                    .labelemail1{
                        margin-bottom: 2.5px;
                        margin-left: 8px;
                    }
                    .email1{
                        width: 400px;
                        padding: 10px;
                        border-radius: 0.625rem;
                        outline: none;
                        border-style: solid;
                        border-color: #949494;
                    }
                }
                .psww{
                    display: flex;
                    flex-direction: column;
                    .labelpsw1{
                        margin-top: 30px;
                        margin-bottom: 2.5px;
                        margin-left: 8px;
                    }
                    .psw1{
                        width: 400px;
                        padding: 10px;
                        border-radius: 0.625rem;
                        outline: none;
                        border-style: solid;
                        border-color: #949494;
                    }
                }
                .linkybtn{
                    display: flex;
                    flex-direction: column;
                    .linkolvi{
                        text-decoration: none;
                        font-size: small;
                        margin-top: 5px;
                    }
                    .ingreso{
                        margin-left: 2px;
                        margin-top: 50px;
                        width: 420px;
                        height: 40px;
                        border-radius: 0.625rem;
                        border:none;
                        background-color: #2A81C0;
                        color:#ffffff;
                        &:hover{
                            background-color: #2f7699;
                        }
                    }
                }

            }
      
            .link{
                .registrolink{
                    font-size: small;
                    
                    .linkregistro{
                        text-decoration: none;
                    }
                }
            }

        }
        .ladoder{
            margin-left: 53px;
            .foto{

            }
        }
    }
}