body {
  margin: 0;
}

.Logueo {
  min-height: 100vh;
  min-width: 100%;
  overflow-x: hidden;
  padding: 0%;
}

.Logueo .imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: 2rem;
  margin-top: 1rem;
  height: 2.3rem;
}

.Logueo .contenido-login {
  height: 60vh;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2rem;
}

.Logueo .contenido-login .ladoizq, .Logueo .contenido-login .ladoder {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Logueo .contenido-login .ladoder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Logueo .contenido-login .ladoder .Foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 100%;
}

.Logueo .contenido-login .ladoizq {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10rem;
  margin-right: 5rem;
}

.Logueo .contenido-login .ladoizq .login {
  font-family: 'Inter', sans-serif;
  margin-right: 3rem;
  margin-bottom: 0rem;
  height: 3rem;
  font-size: 1.75rem;
  margin-top: 5rem;
}

.Logueo .contenido-login .ladoizq .ingrese {
  font-family: 'Inter', sans-serif;
  margin-right: 3.3rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.Logueo .contenido-login .ladoizq input {
  font-size: 1rem;
  display: block;
  border-color: gray;
  height: 40px;
  width: 400px;
  border-radius: 0.625rem;
  margin-bottom: 0.2rem;
  border-style: solid;
  padding: 0.6rem;
  outline: none;
  font-family: 'Inter', sans-serif;
  /* .ojo{
                      <i className='ojo'>{eye}</i>
                
                }*/
}

.Logueo .contenido-login .ladoizq #linkolvi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-bottom: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-size: small;
  text-decoration: none;
}

.Logueo .contenido-login .ladoizq label {
  display: block;
  margin: auto;
  float: left;
  width: 20%;
  font-size: larger;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.Logueo .contenido-login .ladoizq #ingreso {
  width: 410px;
  height: 50px;
  margin-left: 0.5rem;
  margin-top: 0.3rem;
  background: #2A81C0;
  cursor: pointer;
  border-radius: 0.625rem;
  border: none;
  color: white;
  font-size: medium;
}

.Logueo .contenido-login .ladoizq #ingreso:hover {
  background-color: #2f7699;
}

.Logueo .contenido-login .ladoizq #google {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
  margin-left: 0.5rem;
  width: 410px;
  height: 50px;
  cursor: pointer;
  background: white;
  border-radius: 0.625rem;
  border: 1px solid #949449;
  font-size: medium;
}

.Logueo .contenido-login .ladoizq .footer #Registrolink {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
  font-family: 'Inter', sans-serif;
  font-size: medium;
  margin-top: 1rem;
}
/*# sourceMappingURL=login.css.map */